version: '3.1'
services:
  mysql:
    image: mysql/mysql-server:8.0.26-1.2.4-server #Use Static Version of Mysql
    ports:
      - ${DB_PORT}:3306
    volumes:
      - ./${DB_SQL_FILE}:/docker-entrypoint-initdb.d/vcaptcha.sql #import pre create database
    environment:
      MYSQL_DATABASE: ${DB_NAME} 
      MYSQL_ROOT_PASSWORD: ${ROOT_PWD}
      MYSQL_ROOT_HOST: '%'
      TZ: Asia/Bangkok
    command: --default-authentication-plugin=mysql_native_password
      
  phpmyadmin: #phpmyadmin
    image: phpmyadmin/phpmyadmin
    ports:
      - ${PMA_PORT}:80
    environment:
      PMA_HOSTS: mysql

  web: #WEB Server for img store
    image: nginx
    volumes:
    - ./imgstore:/usr/share/nginx/html
    ports:
    - "${IMG_STORE_PORT}:80"
    environment:
    - NGINX_HOST=${IMG_STORE_SITE} // CNAME define
    - NGINX_PORT=80